* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.root {
  width: 100vw;
  height: 100vh;
}
.headerNav {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}
