.seccionOpciones {
    background-color: var(--light-gray);
    padding: 15px;
    border-radius: 10px;
}
.tarjetaSecciones {
    text-align: center;
    background-color: var(--gray);
    color: var(--text-white);
    padding: 20px;
    border-radius: 10px;
}
.tarjetaSecciones .button {
    text-decoration: none;
    color: var(--text-white);
    font-weight: 600;
    background-color: var(--blue);
    padding: 5px 10px;
    border-radius: 5px;
    transition: all linear 0.2s;
}
.tarjetaSecciones .button:hover {
    background-color: var(--dark-blue);
}
.tarjetaSecciones h3 {
    text-transform: capitalize;
}
.listadoOpciones {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.opcionTarjeta {
    width: 100%;
}